<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>only vue TEST</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./select_time.css" type="text/css">
</head>
<body>
    <div id="root">
    <div class="input_box" id="input_box">
        <div class="add-task">
        <input type="text" autocomplete="off" placeholder="자막 추가" maxlength="30" v-model="tasks.name" @keyup.enter="new_cc" class="cc_input">

        <span class="time top" style="color: #fff;">
            <div>from : </div>
            <input type="text" placeholder="00:00" style="width:55px;" id="start" maxlength="5" v-model="tasks.start" @keyup.enter="new_cc">
            <div> to : </div>
            <input type="text" placeholder="00:00" style="width:55px;" id="end" maxlength="5" v-model="tasks.end" @keyup.enter="new_cc">
        </span>
        
        <input type="submit" value="" class="submit_cc" @click="new_cc" title="Add cc">
        </div>
        <ul class="task-list">
            <li class="task-list-item" v-for="task in tasks">
              <label class="task-list-item-label">
                <span class="cc_name">{{task.name}}</span>
                <span class="time">
                    <div>from : </div>
                    <div class="s_time">{{task.start}}</div>
                    <div> to : </div>
                    <div class="e_time">{{task.end}}</div>
                </span>
              </label>
              <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
            </li>
          </ul>
          <input type="button" value="적용" @click="push" class="input_cc" style="display: none;">
    </div>

    <video controls style="width: 700px; height:400px;">
        <source src="./jaerong.mp4" type="video/mp4">
        <track id="caption-track" kind="subtitles" srclang="ko" label="Korean" default />
    </video>
    <a id="save" href="" download="download.vtt">download copy</a>

    </div>
<script>
        var app=new Vue({
            el:"#root",
            data:{
                tasks: [
                { name: '* 샘플입니다. 삭제해주세요 *', start:"00:00" , end:"00:00" }
                ],
                count:0
            },
            methods:{
                push(){
                    // this.count++
                    // console.log(this.tasks)
                        
                    // var data=[
                    //     {
                    //         from:this.tasks.start+".000",
                    //         to:this.tasks.end+".000",
                    //         text:"<v Roger Bingham>"+this.tasks.name
                    //     }
                    // ]
                    
                    // this.tasks.name = "";
                    // var dynamicSubtitle=`WEBVTT`
                    
                    // data.map((item)=>{
                    //     dynamicSubtitle=dynamicSubtitle+`\n ${item.from} --> ${item.to} \n ${item.text} \n`
                    // })

                    // const trackBlob=new Blob ([dynamicSubtitle],{
                    // type:"text/plain;charset=utf=8"
                    // });

                    // const trackUrl=URL.createObjectURL(trackBlob);
                    // document.querySelector("#caption-track").src=trackUrl;
                    
                },
                new_cc: function() {
                    
                     if (!this.tasks.name && !this.tasks.start && !this.tasks.end) {
                         return
                     }

                    this.tasks.push ( {
                        name: this.tasks.name,
                        start: this.tasks.start,
                        end: this.tasks.end,
                        del: ''
                    });

                    this.tasks.name = "";
                    this.tasks.start = "";
                    this.tasks.end = "";

                    // var data=[
                    //     {
                    //         from:this.tasks[0].start+".000",
                    //         to:this.tasks[0].end+".000",
                    //         text:"<v Roger Bingham>"+this.tasks[0].name
                    //     }
                    // ]
                    var data=this.tasks
                    var dynamicSubtitle=`WEBVTT`
                    
                    data.map((item)=>{
                        console.log(item.name,item.start,item.end)
                        dynamicSubtitle=dynamicSubtitle+`\n ${item.start+".000"} --> ${item.end+".000"} \n ${"<v Roger Bingham>" +item.name} \n`
                    })

                    //vtt파일로 다운
                    const trackBlob=new Blob ([dynamicSubtitle],{
                    type:"text/plain;charset=utf=8"
                    });

                    const trackUrl=URL.createObjectURL(trackBlob);
                    document.querySelector("#caption-track").src=trackUrl;
                    
                },
                //자막 삭제
                delItem: function (task) {
                    this.tasks.splice(this.tasks.indexOf(task), 1)
                }
            }
        });
</script>
</body>
</html>