<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./select_time.css" type="text/css">
</head>
<body>
    <div id="root">
    <div class="input_box" id="input_box">
        <div class="add-task">
        <input type="text" autocomplete="off" placeholder="자막 추가" maxlength="30" v-model="tasks.name" @keyup.enter="new_cc" class="cc_input">
        <input type="submit" value="" class="submit_cc" @click="new_cc" title="Add cc">
        </div>
        <ul class="task-list">
            <li class="task-list-item" v-for="task in tasks">
              <label class="task-list-item-label">
                <span class="cc_name">{{task.name}}</span>
                <span class="time">
                    <div>from : </div>
                    <input type="text" placeholder="00:00" style="width:55px;" id="start">
                    <div> to : </div>
                    <input type="text" placeholder="00:00" style="width:55px;" id="end">
                </span>
              </label>
              <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
            </li>
          </ul>
        <!-- <input type="button" value="자막 적용" class="input_cc" @click="input_cc"> -->
    </div>
    <video controls style="width: 700px; height:400px;">
        <source src="./jaerong.mp4" type="video/mp4">
        <track id="caption-track" kind="subtitles" srclang="ko" label="Korean" default />
    </video>
    <a id="save" href="" download="download.vtt">download copy</a>

    </div>
<script>
     window.addEventListener("load", function(){
         var start = document.getElementById("start");
         var end = document.getElementById("end");
         end.addEventListener("keyup", function(evt){
             var end_n=end.value;
             console.log(end_n)
         });
         start.addEventListener("keyup", function(evt){
             var start_n=start.value;
             console.log(start_n)
         });

     });
        var app=new Vue({
            el:"#root",
            data:{
                tasks: [
                { name: '* 샘플입니다. 삭제해주세요 *' },
                ]
            },
            methods:{
                new_cc: function() {
                    if (!this.tasks.name) {
                        return
                    }
                    this.tasks.push ( {
                        name: this.tasks.name,
                        del: ''
                    });
                    var data=[
                        {
                            from:"00:00.000",
                            to:"00:03.000",
                            text:"<v Roger Bingham>"+this.tasks[0].name
                        },
                        {
                            from:"00:03.000",
                            to:"00:06.000",
                            text:"<v Roger Bingham>"+this.tasks[1].name
                        },
                        {
                            from:"00:06.000",
                            to:"00:10.000",
                            text:"<v Roger Bingham>"+this.tasks[2].name
                        }
                    ]
        
                    this.tasks.name = "";
                    var dynamicSubtitle=`WEBVTT`
                    
                    data.map((item)=>{
                        dynamicSubtitle=dynamicSubtitle+`\n ${item.from} --> ${item.to} \n ${item.text} \n`
                    })

                    const trackBlob=new Blob ([dynamicSubtitle],{
                    type:"text/plain;charset=utf=8"
                    });

                    const trackUrl=URL.createObjectURL(trackBlob);
                    document.querySelector("#caption-track").src=trackUrl;
                    //vtt로 자막 파일 다운받기
                    document.querySelector("#save").href=trackUrl;
                },
                delItem: function (task) {
                    this.tasks.splice(this.tasks.indexOf(task), 1)
                }
            }
        });
</script>
</body>
</html>