<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./select_time.css" type="text/css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div id="root">
    <div class="input_box" id="input_box" >
        <div class="add-task" >
        <input type="text" autocomplete="off" placeholder="자막 추가" maxlength="30" v-model="tasks.name" @keyup.enter="new_cc" class="cc_input">
        <!--자막 및 시간 추가 부분-->
        <span class="time top" style="color: #fff;">
            <input type="text" placeholder="00:00" style="width:23px;" maxlength="2" v-model="tasks.start1" @keyup.enter="new_cc" id="start1"> 분
            <input type="text" placeholder="00:00" style="width:23px;" maxlength="2" v-model="tasks.start2" @keyup.enter="new_cc" id="start2"> 초
            <div> - </div>
            <input type="text" placeholder="00:00" style="width:23px;" maxlength="2" v-model="tasks.end1" @keyup.enter="new_cc" id="end1"> 분
            <input type="text" placeholder="00:00" style="width:23px;" maxlength="2" v-model="tasks.end2" @keyup.enter="new_cc" id="end2"> 초
        </span>
        <!-- + 버튼-->
        <input type="submit" value="" class="submit_cc" @click="new_cc" title="Add cc">
        </div>
        <!--추가된 내용-->
        <ul class="task-list">
            <li class="task-list-item" v-for="(task,index) in tasks">
              <label class="task-list-item-label">
                {{index}}
                <span class="cc_name">{{task.name}}</span>
                <span class="time">
                    <div class="s_time">{{task.start1}}:{{task.start2}}</div>
                    <div> - </div>
                    <div class="e_time">{{task.end1}}:{{task.end2}}</div>
                </span>
              </label>
              <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
            </li>
          </ul>
    </div>
    <video id="video" controls style="width: 700px; height:400px;">
        <source type="video/mp4" >
        <track id="caption-track" kind="subtitles" srclang="ko" label="Korean" default />
    </video>

    <a id="save" href="" download="download.srt">download copy</a>
    <input type="file" name="file" id="file" accept="video/mp4,video/mkv, video/x-m4v,video/*" @change="uploadVideo">

    </div>
<script>
        var app=new Vue({
            el:"#root",
            data:{
                tasks: []
            },
            methods:{
                // 비디오 업로드
                uploadVideo: function(){
                    const inputFile = document.getElementById("file");
                    const video = document.getElementById("video");
                    const file = inputFile.files[0];
                    const videourl = URL.createObjectURL(file);
                    video.setAttribute("src", videourl);
                    video.play();
                },
                new_cc: function() { 
                    //자막 시간 숫자 확인
                    let start1=document.getElementById("start1").value;
                    let start2=document.getElementById("start2").value;
                    let end1=document.getElementById("end1").value;
                    let end2=document.getElementById("end2").value;
                    let index;
                if(isNaN(start1)==true||isNaN(start2)==true||isNaN(end1)==true||isNaN(end2)==true){
                        alert("자막 출력 시간은 숫자만 입력하세요!")
                }
                else if(start1+start2>end1+end2){
                         alert("자막 시작시간과 끝나는 시간을 확인해 주세요!")
                }
                else if (!this.tasks.name && !this.tasks.start && !this.tasks.end) {
                         return
                }
                else{
                    //자동 배열 추가
                    this.tasks.push ( {
                        name: this.tasks.name,
                        start1: this.tasks.start1,
                        start2: this.tasks.start2,
                        end1: this.tasks.end1,
                        end2: this.tasks.end2,
                        del: '',
                    });
                    
                    //추가 후 입력창 값 비우기
                    this.tasks.name = "";
                    this.tasks.start1 = "";
                    this.tasks.start2 = "";
                    this.tasks.end1 = "";
                    this.tasks.end2 = "";

                    //data변수에 tasks 배열 이관
                    var data=this.tasks
                    var dynamicSubtitle;
                    //배열 순차적으로 읽고 실시간 적용
                    data.map((item,index)=>{
                       dynamicSubtitle= `${index+1}\n ${"00:"+item.start1+":"+item.start2+",000"} --> ${"00:"+item.end1+":"+item.end2+",000"} \n ${ item.name} \n\n`
                       console.log(dynamicSubtitle)
                    })
                }
                    //srt파일로 다운
                    const trackBlob=new Blob (["\ufeff"+dynamicSubtitle],{
                    type:"text/plain;charset=utf=8"
                    });

                    const trackUrl=URL.createObjectURL(trackBlob);
                    document.querySelector("#caption-track").src=trackUrl;
                    document.querySelector("#save").href=trackUrl;
                    
                },
                    //자막 삭제
                delItem: function (task) {
                        this.tasks.splice(this.tasks.indexOf(task), 1)
                }
            }
        });
        
</script>
</body>
</html>